{% extends "aboutus.html" %}


{% block main %}
<div id="terms">
  <h1>Terms of Use</h1>
  <p>
    Welcome to Instagram replica!<br>

    <h2>this is a copy of an instagram page!!</h2><br>

      These Terms of Use govern your use of Instagram and provide information about the Instagram Service, outlined below. When you create an Instagram account or use Instagram, you agree to these terms.

The Instagram Service is one of the Facebook Products, provided to you by Facebook, Inc. These Terms of Use therefore constitute an agreement between you and Facebook, Inc.
  </p>
</div>
{% endblock main %}
